@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

/*BARRA DE NAVEGAÇÃO*/
header {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    color: #585858;
    height: 5rem;
    width: 90%;

    padding-left: 0;
    padding-right: 0;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

/*FOOTER*/
footer{
    background-color: #efeae4;
    color: #545454;
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: space-between;
}

footer div ul{
    list-style: none;
    margin: 30px 60px;
    font-size: 20px;
}

.lista_footer{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 2%;
}

.company_info{
    width: 740px;
    font-family: 'Open Sans', sans-serif;
    color: #777068;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
    align-items: center;
}

.imagen_footer{
    height: 80px;
}

.redes img{
    height: 35px;
    margin: 3px 25px;
}

.branco{
    width: 600px;
}

/*FORMULARIO DE PESQUISA*/
label, p {
   white-space: pre-line;
}

section{
    background-image: url(../Imagens/IMG/Voos/banner.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center 60%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #f8f8f8 ;
    font-size: 20px;
    color: #585858;
    padding: 0.1em 1.5em;
    padding-right: 0;
    border-radius: 12px;
    width:  auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

form strong{
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    font-weight: 100;
    margin-right: 70%;
    margin-bottom: 12px;
    margin-top: 8px;
}

/* Datas */

.data_input{
    border-radius: 14px;
    height: 30px;
    width: 150px;
    border-color: #dddddd;
    cursor: pointer;
}

/* Local */
.origem{
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
}

.destino{
    margin-right: 25px;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
}

.local_input{
    border-radius: 14px;
    height: 30px;
    width: 250px;
    border-color: #dddddd;
    display: flex;
    align-items: center;
}

.num_input{
    border-radius: 14px;
    height: 30px;
    width: 60px;
    border-color: #dddddd;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.passageiros, .ida_volta{
    display: flex;
    gap: 10px;
    align-items:baseline;
    margin-right: 25px;
    height: 82px;
}

.button{
    display: flex;
    background-color: #ff914d;
    color: white;
    font-weight: bold;
    font-size: 17px;
    height: 31px;
    width: 200px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
  
.anuncios{
    display: flex;
    justify-content: space-evenly;
    margin: 0 6rem;
    flex-wrap: wrap;
  }
  
  .titulo_anuncio{
    display: block;
    text-align: center;
    background-color: #ff914d;
    color: white;
  }
  
  .caixa_anuncio{
    text-align: center;
    background-color: #efeae4;
    border-radius: 8px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .imagem_anuncio{
    height: 13rem;
    width: 19rem;
    cursor: pointer;
  }
  
  .modal-container{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
  
  }
  
  .modal{
    background-color: #ffffff;
    width: auto;
    min-width: 300px;
    padding: 40px;
    border: 2px solid #585858;
  }
  
  .mostrar{
    display: flex;
  }
  
  @keyframes modal {
    from{
      opacity: 0;
      transform: translate3d(0.-60px,0);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
  
  .mostrar .modal{
    animation: modal .3s;
  }

  #fechar{
    margin-left: 30px;
    margin-right: 300px;
  }